@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
}

/* Use the @theme directive to define your project's custom design tokens, like fonts, colors, and breakpoints */

@theme {
  /* =========================
     BUTTONS
     ========================= */

  --color-primary-btn: #f5f5f5;
  --color-primary-btn-text: #0a0a0a;

  --color-secondary-btn: #222222;
  --color-secondary-btn-text: #f5f5f5;

  --color-disabled-btn: #292929;
  --color-disabled-btn-text: #666666;
  /* =========================
      BACKGROUND
      ========================= */

  --color-primary-bg: #0f1115;
  --color-secondary-bg: #15181e;

  --color-card-bg: #1b1f26;
  --color-card-border: #2a2f37;
  --color-card-ring: #3c4043;
  --color-card-shadow: #rgba(0, 0, 0, 0.35);

  /* =========================
     TEXT
     ========================= */

  --color-primary: #f5f5f5;
  --color-secondary: #c7c7c7;
  --color-muted: #8a8a8a;
  --color-placeholder: #666666;

  /* ==========================
      Linear Gradient
     ==========================*/
  --background-background-gardient: linear-gradient(
    90deg,
    rgba(15, 17, 21, 1) 0%,
    rgba(138, 180, 248, 1) 45%,
    rgba(15, 17, 21, 1) 99%
  );
}

@theme inline {
  --animate-bounce-forward: bounce-forward 1s infinite;

  @keyframes bounce-forward {
    0%,
    100% {
      transform: translateX(25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
